<form action="/rezultat-chestionar" method="POST">
	<p> <%=intrebari[0].intrebare%> </p>
	<input type="radio" name="answer1" value="<%=intrebari[0].variante[0]%>" id="var1">
	<label for="var1"> <%=intrebari[0].variante[0]%> </label>
	<br/>
	<input type="radio" name="answer1" value="<%=intrebari[0].variante[1]%>" id="var2">
	<label for="var2"> <%=intrebari[0].variante[1]%> </label>
	<br/>
	<input type="radio" name="answer1" value="<%=intrebari[0].variante[2]%>" id="var3">
	<label for="var3"> <%=intrebari[0].variante[2]%> </label>
	<br/>
	<br/>

	<p> <%=intrebari[1].intrebare%> </p>
	<input type="radio" name="answer2" value="<%=intrebari[0].variante[0]%>" id="var1">
	<label for="var1"> <%=intrebari[0].variante[0]%> </label>
	<br/>
	<input type="radio" name="answer2" value="<%=intrebari[0].variante[1]%>" id="var2">
	<label for="var2"> <%=intrebari[0].variante[1]%> </label>
	<br/>
	<input type="radio" name="answer2" value="<%=intrebari[0].variante[2]%>" id="var3">
	<label for="var3"> <%=intrebari[0].variante[2]%> </label>
	<br/>
	<br/>

	<p> <%=intrebari[2].intrebare%> </p>
	<input type="radio" name="answer3" value="<%=intrebari[0].variante[0]%>" id="var1">
	<label for="var1"> <%=intrebari[0].variante[0]%> </label>
	<br/>
	<input type="radio" name="answer3" value="<%=intrebari[0].variante[1]%>" id="var2">
	<label for="var2"> <%=intrebari[0].variante[1]%> </label>
	<br/>
	<input type="radio" name="answer3" value="<%=intrebari[0].variante[2]%>" id="var3">
	<label for="var3"> <%=intrebari[0].variante[2]%> </label>
	<br/>
	<br/>
	
	
	<button type="submit">Înregistrează</button>
</form>
